.navbar {
    grid-area: n;
    background-color: #80cbc4;
    text-align: center;
}

.navbar a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.navbar a.active {
    text-transform: uppercase;
    color: moccasin;
}

.navbar a:hover {
    text-transform: uppercase;
}

.friendsLogo {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 50px;


}

.friendsLogo img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: #4f9a94 solid 2px;
}