.item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1em;

}

.item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
}

.item div {
    margin: 1em;
    font-size: 18px;
}

.item span {
    margin: 1em;
    font-size: 10px;
}
